<ion-view view-title="Help Forum">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/anonymous.png');"></span>
                    <div class="row">
                        <div class="col">
                            <button class="button button-clear button-dark">
                                <i class="ion-ios-pricetag"></i> &nbsp; Algorithms
                            </button>
                        </div>
                    </div>
                    <strong>ANONYMOUS</strong> Strengths: Recursion. Weaknesses: Trees and Djikstra's Algorithm

                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> just now
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/tyrion.jpg');"></span>
                    <div class="row">
                        <div class="col">
                            <button class="button button-clear button-dark">
                                <i class="ion-ios-pricetag"></i> &nbsp; Algorithms
                            </button>
                        </div>
                    </div>
                    <button class="button button-clear button-dark"><strong>Tyrion Lannister</strong></button> Strengths: Trees. Weaknesses: Sorting
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 12 mins ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/anonymous.png');"></span>
                    <div class="row">
                        <div class="col">
                            <button class="button button-clear button-dark">
                                <i class="ion-ios-pricetag"></i> &nbsp; Algorithms
                            </button>
                        </div>
                    </div>
                    <strong>ANONYMOUS</strong> Strengths: Trees, Sorting, Djikstra's. Weaknesses: none. Want to find people that I can teach for better understanding.
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 3 hrs ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
