<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/lib.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/arya.jpg');"></div>
                <h3><a class="light"Tammy</a></h3>
                <h4>Georgia Tech</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-university"></i> Help Forum
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a href="templates/GMaps.html" class="tab-item">
                <i class="icon ion-ios-search-strong"></i> Search
            </a>
        </div>
        <body ng-controller="ProfileCtrl">

          <div>         

          <ul class="list">

            <li class="item item-toggle">

               Calculus II

               <label class="toggle toggle-assertive">

                 <input type="checkbox">

                 <div class="track">

                   <div class="handle"></div>

                 </div>

               </label>

            </li>

            <li class="item item-toggle">

               History of Chairs

               <label class="toggle toggle-assertive">

                 <input type="checkbox">

                 <div class="track">

                   <div class="handle"></div>

                 </div>

               </label>

            </li>

            <li class="item item-toggle">

               Organic Chemistry II

               <label class="toggle toggle-assertive">

                 <input type="checkbox">

                 <div class="track">

                   <div class="handle"></div>

                 </div>

               </label>

            </li>

            <li class="item item-toggle">

               Physics II

               <label class="toggle toggle-assertive">

                 <input type="checkbox">

                 <div class="track">

                   <div class="handle"></div>

                 </div>

               </label>

            </li>

          </ul>

          </div>

        

      </body>
        </div>
    </ion-content>
</ion-view>
